{%extends 'sidebar.html'%}
{%load static%}
{%block body%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">  
    
</head>
<body>
    {%if user.is_authenticated%}
    
    {%include 'navbar.html'%}

    

    <div class="maincontainer" id="MC">
        <div class="success" style="color: green;">
            {%include 'messages.html'%}
        </div>
        <div class="mainbanner">
            <div class="banner">
                <div class="bannerDetails">
                    <!-- <img src="https://wingz.itvedant.com/images/index/student-journey.svg/" alt=""> -->
                    <p>Hii {{profile.firstname}}, Your progress so far.</p>
                    <p class="enroll">You have Enrolled for <strong>Master in Full Stack Web Development with AWS</strong> under <strong>Job Guarantee Program</strong></p>
                </div>
                <div class="studentJourney">
                    {% comment %} <img src="https://wingz.itvedant.com/images/journey-icons/Butterfly-animation.gif" alt="Butterfly" class="butterfly"> {% endcomment %}
                    <div>
                        <img src="https://wingz.itvedant.com/images/journey-icons/Butterfly-animation.gif" alt="Butterfly" class="butterfly">
                    </div>
                    <div class="step0">
                        
                        <span>Start</span>
                    </div>
                    
                    <div class="step1">

                        <span>Foundation with SQL(2...</span>
                    </div>

                    <div class="step2">
                        <span>Web Designing Essentia..</span>
                    </div>

                    <div class="step3">
                        <span>Python Essential(2022..</span>
                    </div>

                    <div class="step4">
                        <span>AWS Cloud Practicione..</span>
                    </div>

                    <div class="step5">
                        <span>Web Designing Proffesional</span>
                    </div>
                </div>
            </div>
            
        </div>
    <div class="progress">
          <div class="studentscore">
            <div class="icons">
                <img src="https://wingz.itvedant.com/images/journey-icons/fly.svg" alt="">
            </div>
            <div class="content">
                <h4>10.51
                    <span>/ 20</span>
                </h4>
                

                <p>Assessment Score</p>
            </div>
          </div> 

          <div class="studentscore">
            <div class="icons">
                <img src="https://wingz.itvedant.com/images/journey-icons/fly.svg" alt="">
            </div>
            <div class="content">
                <h4>May 30,2024</h4>
                <p>Your CCE Date</p>
            </div>
          </div> 

          <div class="studentscore">
            <div class="icons">
                <img src="https://wingz.itvedant.com/images/journey-icons/calender.svg" alt="">
            </div>
            <div class="content">
                <h4>1
                    <span>/ 62</span>
                </h4>
                
                <p>Lecture Missed</p>
            </div>
          </div> 
    </div>
   



            <h3 class="moduleHeading"><a href="">My Modules</a></h3>
        <div class="moduleContainer">
           {% comment %} {%for module in modules%} {% endcomment %}
           {% for module, progress in module_progress.items %} 
            <div class="module">
                <div class="modulecontents">
                    <div class="moduleicon">
                        <img src="{{module.image}}" alt="" height="50px" width="50px" style="border-radius: 50%;">
                    </div>
                    <div class="modulename">
                        <h3>{{module.name}}</h3>
                    </div>

                    <div class="moduleprogress module-progress" data-progress="{{ progress }}">
                        {{progress|floatformat:0}}%
                    </div>

                    <!-- {% comment %} <div class="progressbar">

                    </div> {% endcomment %} -->

                    <div class="modulestatus">
                        {% if progress == 100 %}
                    Completed
                {% else %}
                    Digital Learning Progress
                {% endif %}
                    </div>

                    <a href="{%url 'student:sqlContent' module.id%}"><button class="mybtn btn-primary">Continue Learning</button></a>
                </div>
            </div>
            {%endfor%}
        </div>



        <h3 class="moduleHeading"><a href="">Job Openings</a></h3>
        <div class="moduleContainer openingContainer" >
           {%for opening in openings%} 
            <div class="opening">
                <div class="openingContents">
                    <div class="jobTitle">
                        <h4>{{opening.role}}</h4>
                    </div>

                    <div class="openingData">
                        <p class="data">Salary : {{opening.salary}}</p> <br>
                        <p class="data">Location : {{opening.location}}</p>
                    </div>

                    <div class="company">
                        <div class="companyicon"></div>

                        <div class="companytitle">
                            <h1>Company Name</h1>
                            <p>{{opening.company_name}}</p>
                        </div>
                    </div>
                    <button class="mybtn btn-primary"><a href="{%url 'student:openingDetail' opening.id%}">Read More</a></button>
                </div>
                
            </div>
            {%endfor%}
        </div>
    </div>
    {%endif%}

    


    <!-- {%for topic in topics%}
        {{topic.name}}
        {%for subtopic in subtopics%}
        {{subtopic.name}}
        {%endfor%}
    {%endfor%} -->
    </script>
    <!-- <script src="{%static 'js/script.js'%}"></script> -->
    <script src="https://kit.fontawesome.com/2ae2e29bb9.js" crossorigin="anonymous"></script>
</body>
</html> 

            
{%endblock%}