{%extends 'sidebar.html'%}
{%load static%}

{%block body%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Questions</title>
</head>
<body>
    {%if user.is_authenticated%}
    {%include 'navbar.html'%}




    <div class="interviewMain">
        
        <div class="interviewCardContainer">

            {%for interview in interviews%}
                <a href="{%url 'student:wdcontent' interview.id%}">
                    <div class="interviewCard">
                        <img src="{{interview.img}}" alt="" width="60px" height="60px" style="border-radius: 50%;">
                        <h3>{{interview.name}}</h3>
                    </div>
                </a>
            {%endfor%}
        </div>
        
    </div>
{%endif%}
</body>
</html>
{%endblock%}