{%load static%}
<!DOCTYPE html>

<link rel="stylesheet" href="{%static 'css/style.css'%}" />
<!-- <link rel="stylesheet" href="{%static 'css/bmin.css'%}"> -->
<link
  rel="”stylesheet”"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
/>
<link rel="icon" type="image/x-icon" href="{% static 'image/favicon (1).ico' %}">
<!-- Option 1: Include in HTML -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>

<body>
  <div class="sidebar" id="sidebars">
    <div class="logo">
      <a href="{%url 'student:dashboard'%}">
        <img
          src="https://wingz.itvedant.com/images/itvedant_logo.svg"
          alt=""
          width="62%"
          height="70px"
        />
      </a>
    </div>
    <ul>
      {%if user.is_authenticated%}
      <li class="sidebarLink">
        <i class="bi bi-speedometer2"></i
        ><a href="{%url 'student:dashboard'%}"><span>Dashboard</span></a>
      </li>
      <li class="sidebarLink">
        <i class="bi bi-people-fill"></i
        ><a href="{%url 'student:interview'%}">Interview Questions</a>
      </li>
      {% comment %}
      <li><a href="">Job Opening Details</a></li>
      {% endcomment %}
      <li class="sidebarLink">
        <i class="bi bi-clipboard"></i>
        <a href="{%url 'student:profile'%}">Profile</a>
      </li>
      <li class="sidebarLink">
        <i class="bi bi-book"></i>
        <a href="{%url 'student:course'%}">New Courses</a>
      </li>
      <li class="sidebarLink">
        <i class="bi bi-question-circle"></i>
        <a href="{%url 'student:news'%}">News</a></li>
      <!-- {% comment %} <li class="sidebarLink">
        <i class="bi bi-book"></i>
        <a href="">3A</a></li> {% endcomment %} -->
      <li class="sidebarLink">
        <i class="bi bi-box-arrow-left"></i>
        <a href="{%url 'student:logout'%}">Logout</a></li>
    </ul>
    {%else%}
    <!-- <li><a href="{%url 'student:login'%}">Login</a></li>
        <li><a href="{%url 'student:register'%}">Registration Form</a></li> -->
    <h1>You have been logged out</h1>
    <a href="/handleLogin">Click here</a> <span>to login</span>
    {%endif%}

    <div class="manager">
      <h3>Relationship Manager</h3>
      <hr />
      <div class="managerDetails">
        <div class="managerImg"></div>
        <p>ABC</p>

        <div class="managerContact">
          <div class="contIcon"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">{%block body%} {%endblock%}</div>

  <script src="{%static 'js/script.js'%}"></script>
  <script
    src="https://kit.fontawesome.com/2ae2e29bb9.js"
    crossorigin="anonymous"
  ></script>
</body>
