{%extends 'sidebar.html'%}
{%load static%}
{%block body%}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study Material</title>
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
    </head>
    <body>
        
        {%include 'navbar.html'%}
        {%if user.is_authenticated%}
        <div class="studyBody">
            <div class="sqlcontainer">
                <div class="sqlheader">
                    <div class="sqlcourse-info">
                        <h1>Foundation With SQL (2022)</h1>
                        <div class="sqlprogress">
                            <div class="sqlbatch-progress">
                                <span>80%</span>
                                <p>Batch Progress</p>
                            </div>
                            <div class="sqlyour-progress">
                                <span>100%</span>
                                <p>Your Progress</p>
                            </div>
                        </div>
                    </div>
                    <div class="sqlstatus">
                        <div class="sqlattendance">
                            <span>10 / 10</span>
                            <p>Attendance</p>
                        </div>
                        <div class="sqlassessments">
                            <span>19 / 20</span>
                            <p>Assessments</p>
                        </div>
                        <div class="sqldigital-learning">
                            <span>20 / 20</span>
                            <p>Digital Learning</p>
                        </div>
                        <div class="sqlmock-score">
                            <span>0 / 100</span>
                            <p>Mock Score</p>
                        </div>
                        <div class="sqlproject-grade">
                            <span>0</span>
                            <p>Project Grade</p>
                        </div>
                    </div>
                </div>
                {% for main, subtopics in topics_with_materials %}
                <div class="sqlcontent">
                    <h2>{{main.topic}}</h2>
                    <ul>
                        {% for top in subtopics %}
                        <li><a href="{%url 'student:study_material' top.id%}">{{top.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {%endfor%}
                <!-- {% comment %} <div class="sqlfooter">
                    <button class="raise-ticket">+ RAISE TICKET</button>
                    <span class="date">Nov 09, 2023</span>
                </div> {% endcomment %} -->
            </div>
        </div>
        {%endif%}
    </body>
    </html>
{%endblock%}