{%extends 'sidebar.html'%}
{%load static%}

{%block body%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Questions</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <style>
        .search::placeholder{
            color: black;
        }
    </style>
</head>
<body style="margin-top: 10rem;">
    {%if user.is_authenticated%}
    {%include 'navbar.html'%}
    {%endif%}
    
   <div class="questMain">
    <div class="" style="margin-left: 5rem; display: flex;" >
        <form action="{%url 'student:intSearch'%}" method="POST">
            {%csrf_token%}
            <input type="text" name="src" placeholder="Enter or click on mic button to speak anything to search" class="search" id="searchInput">
          <input class="lastBtn" type="submit" value="search" class="">
          
        </form>
        <div>
            <button class="mic" onclick="startRecognition()">🎤</button>
        </div>
    </div>
    {%include 'messages.html'%}
    {%for i in f%}
    <div class="faq-container">
        <div class="faq-item">
            <button class="faq-question" onclick="toggleAnswer(this)">
                {{i.ques}}
            </button>
            <div class="faq-answer">
                {{i.ans}}
            </div>
        </div>
        <!-- Add more FAQ items as needed -->
    </div>
    {%endfor%}
   </div>    
   
    
    <script src="{%static 'js/script.js'%}"></script>
    <script>
        function startRecognition() {
            fetch("{% url 'student:recognize_speech' %}")
                .then(response => response.json())
                .then(data => {
                    document.getElementById('searchInput').value = data.query;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
{%endblock%}